/*****************************************************************************/
/*  Common
/*****************************************************************************/

html, body { height: 100%; }

body {
    margin: 0px auto;
    background-color: #FFF;
    font-family: "Ubuntu",Georgia,serif;
}

a, a.visited {
    text-decoration: none;
}

/*****************************************************************************/
/*  index page
/*****************************************************************************/


/*****************************************************************************/
/*  Site
/*****************************************************************************/


/*****************************************************************************/
/* Posts
/*****************************************************************************/

